body {
    font-family: Arial, sans-serif;
}
p.question {
    top: 0;
    right: 0;
    left: 0;
    padding: 1em 0;
    margin: 0;
    font-size: 25px;
    text-align:center;
}
p.error {
  color: #ff0000; /* Red color */
  font-size: 16px;
  font-weight: bold;
  margin: 10px; /* Add some space around the text */
  padding: 8px; /* Add some padding to the text */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text] {
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin: 10px 0;
}
input[type=submit] {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin: 10px 0;
}
button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin: 10px 0;
}
.cities {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px 0;
}
.city {
    width: 120px;
    text-align: center;
}
.score {
    margin: 20px 0;
}
.hall-of-fame {
    margin: 20px 0;
}
div.cityinfo {
  border-right: 1px solid black; /* add a border to the bottom of each section except the last one */
  display: block; /* enable flex layout */
  text-align: center; /* center the text within the element */
  height: 100%; /* set the height of each section to be the full height of the container */
  width: 100%; /* set the width to be the full width of the container */
  box-sizing: border-box; /* include padding and borders in the width and height */
}
div.cityinfo:last-child {
  border-right: none; /* remove the border from the last section */
}
