<html>
<head>
    <link rel="stylesheet" href="{{ cherrypy.url('/static/js/jquery-ui.css') }}">
    <link rel="stylesheet" href="/static/style/basic_style.css">
</head>
<body>
<script>
  var cities = {{ cities_json }};
  console.log(cities);
</script>

<!-- Include the jQuery and jQuery UI libraries -->
<script src="{{ cherrypy.url('/static/js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ cherrypy.url('/static/js/jquery-ui.min.js') }}"></script>

<p class="question">
   What are two cities that are approximately the same distance apart as {{ city1[0] }}, {{ city1[3] }} and {{ city2[0] }}, {{ city2[3] }}? 
</p>
<br>
<p class="question">
   You may not use cities from {{ continent1 }}{% if continent1 != continent2 %} and {{ continent2  }}{% endif %}.
</p>
<form method="get" action="distanceCheck">
   <!-- Include the autocomplete script -->
   City 1: <input type="text" name="cityName1" id="cityName1"/>
           <div id="cityName1-autocomplete-results"></div>
   <br />
   City 2: <input type="text" name="cityName2" id="cityName2"/>
           <div id="cityName2-autocomplete-results"></div>
   <br />
   <input type="submit" value="Submit" />
   <script src="{{ cherrypy.url('/static/js/autocomplete_city_inputs.js') }}"></script>
</form>
{% if duplicateContinent %}
<p class="error">You submitted cities where one of them was on the same continent as one of the cities in the question. Remember that all of Russia counts as Europe, and that South America starts below Panama.</p>
{% endif %}
{% if not cityFound %}
<p class="error">You submitted a city that was not in our database. Please make sure you select a city from the autocomplete to avoid typos.</p>
{% endif %}
</body>
</html>
