<html>
<head>
    <link rel="stylesheet" href="{{ cherrypy.url('/static/jquery-ui.css') }}">
    <link rel="stylesheet" href="style/basic_style.css">
</head>
<body>
<script>
  var cities = {{ cities_json }};
  console.log(cities);
</script>

<!-- Include the jQuery and jQuery UI libraries -->
<script src="{{ cherrypy.url('/static/jquery-3.6.0.min.js') }}"></script>
<script src="{{ cherrypy.url('/static/jquery-ui.min.js') }}"></script>

<p class="question">
   What are two cities that are approximately the same distance apart as {{ city1[0] }}, {{ city1[3] }} and {{ city2[0] }}, {{ city2[3] }}?
</p>
<form method="get" action="distanceCheck">
   <!-- Include the autocomplete script -->
   City 1: <input type="text" name="cityName1" id="cityName1"/>
           <div id="cityName1-autocomplete-results"></div>
   <br />
   City 2: <input type="text" name="cityName2" id="cityName2"/>
           <div id="cityName2-autocomplete-results"></div>
   <br />
   <input type="submit" value="Submit" />
   <script src="{{ cherrypy.url('/static/autocomplete_city_inputs.js') }}"></script>
</form>
</body>
</html>
