<html>
    <head>
        <link rel="stylesheet" href="/static/style/basic_style.css">
        <link rel="stylesheet" href="/static/style/high_scores_style.css">
    </head>
    <body>
    <div class="high-scores">
      <h2 class="high-scores">Hall of Fame</h2>
      <ul class="high-scores">
        {% for name, score in high_scores %}
          <li class="high-scores">
            <span class="high-scores-name">{{ name }}</span>
            <span class="high-scores-score">{{ score }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br><br><br>

        <h1>Duel {{ numDuels }} Score: {{ duelScore }}</h1>
        <h1>Overall Score: {{ score }}</h1>
        <p>  {{ city1[1] }}, {{ city1[4] }} and {{ city2[1] }}, {{ city2[4] }} were approximately {{ distance1 }} {{ distanceMeasure }} apart, 
            while {{ city3[1] }}, {{ city3[4] }} and {{ city4[1] }}, {{ city4[4] }}
          were approximately {{ distance2 }} {{ distanceMeasure }} apart. You have no duels left. </p>
        <form method="post" action="index">
            <input type="submit" value="Start Over">
        </form>
    </body>
    <p>{{feedback}}</p>
    </html>
